name: set-version

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version to set'
        required: true
  workflow_call:
    inputs:
      version:
        required: true
        type: string

jobs:
  set-version:
    name: Set Version

    permissions:
      contents: write

    runs-on: ubuntu-24.04
    steps:
      - name: 'Checkout repository'
        uses: actions/checkout@v6
        with:
          ref: ${{ github.ref }}

      - name: 'Setup node'
        uses: actions/setup-node@v6
        with:
          node-version: lts/*

      - name: 'Install pnpm'
        uses: pnpm/action-setup@v4
        with:
          version: latest

      - name: 'Set JS Version'
        run: |
          pnpm version --no-git-tag-version --allow-same-version ${{ inputs.version }}

      - name: 'Commit Version'
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: 'chore(release): bump version to ${{ inputs.version }}'
